@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap');

#home {
    background-image: url(../images/35987758_l_normal_none.jpg);

}

.text-center {
    text-align: center;
}

.text-uppercase {
    text-transform: uppercase;
}

.page-header {
    height: 25vh;
    background: center 59% / cover no-repeat;
}

header {
    background-color: black;
}

header {
    color: #789750d1;
}

header {
    display: block;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    margin: 0;
    background-color: whitesmoke;
}

.beige-background {
    background-color: #c38f8f;
}

nav {
    padding: 1rem;
}

nav {
    display: block;
}

nav>a {
    text-decoration: none;
    color: #1e2516d1;
    margin: none;
}

footer {
    background-color: #789750d1;
    padding: 1em;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 3;
}

footer {
    display: block;
}

footer>span {
    color: #c38f8f;
}

footer>a {
    color: beige;
    text-decoration: none;
    padding: 0 15px;
    font-size: 0.8rem;
}

.reasons-box {
    padding: 10px 5px 25px 5px;
    border-radius: 8px;
    width: 100%;
    margin: 2%;
    background-color: #c38f8f;
    position: relative;
    left: 20%;
    top: 30px;
}

.float-left {
    float: left;
}

.one-third-width-column {
    width: 33.33%;
    display: inline-block;
}

.text-white {
    color: #FFFFFF;
}

li {
    list-style-type: none;
}

.two-thirds-width-column {
    width: 66.66%;
    display: inline-block;
}

.float-right {
    float: right;
}

img {
    border-radius: 8px;
    width: 96%;
    margin: 2%;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

#about {
    padding: 1rem 0;
    margin-bottom: 80px;
    background-color: chocolate;
}

.spacer {
    clear: both;
}